<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookScanner</title>

    <!-- Bootstrap -->
    <link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/libs/bootstrap-slider/css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
{{{body}}}
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/libs/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    {{#each scripts}}
    <script src="js/{{this}}"></script>
    {{/each}}
  </body>
</html>

