<div class='container'>
  <h1> Book Scanning Application</h1>
  Please turn on your cameras and connect.
  <form method='post' action='/connect'>
    <input type="hidden" name="_csrf" value="{{token}}">
    <button type='submit' class='btn btn-primary'>Connect Cameras</button>
  </form>
  Please check the following:
  <ul>
    <li> The cameras are in PTP mode (selector on settings/USB menu) </li>
    <li> The flashes are disabled. </li>
    <li> The color mode (settings button in automatic mode) is on Black and White (optional) </li>
  </ul>
</div>
