{{#with camera}}
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#mainTab">Photos</a>
    </li>
    <li>
      <a data-toggle="tab" href="#leftTab">Left</a>
    </li>
    <li>
      <a data-toggle="tab" href="#rightTab">Right</a>
    </li>
    <li>
      <a id="downloadToggle" data-toggle="tab" href="#downloadTab">Download</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="mainTab" class="tab-pane active">
      &nbsp;
      <div class="row">
        <div class="col-xs-1"><div class="pagination-centered text-center" id='index'>-</div>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-block btn-primary btn-lg" id='buttonPrevious' role="button">Previous</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-block btn-primary btn-lg" id='buttonPhoto' role="button">Take Picture</button>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-block btn-primary btn-lg" id='buttonNext' role="button">Next</button>
        </div>
        <div class="col-xs-1"><span class="text-center" id='indexPlus'>-</span>
        </div>
      </div>
      &nbsp;
      <div class="row">
        <div class="col-xs-6">
          <div class="imgcontainer" style="transform: rotate(-90deg);">
          <img id="imageLeft" width="100%" height="66.6%" style="margin-top:16.6%;" src="images/gris.png">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="imgcontainer" style="transform: rotate(90deg);">
          <img id="imageRight" width="100%" height="66.6%" style="margin-top:16.6%;" src="images/gris.png">
          </div>
        </div>
      </div>
    </div>
    <div id="leftTab" class="tab-pane">
      <div class="row">
        <div class="col-xs-6">
          &nbsp;<br/>
          <div class="imgcontainer" style="transform: rotate(-90deg);">
          <img id="imageFocusLeft" width="100%" height="66.6%" style="margin-top:16.6%;" src="images/gris.png">
          </div>
        </div>
        <div class="col-xs-6">
          <h1>Left Camera</h1>
          <b>model</b> {{left.model}}  </br>
          <b>usbid</b> {{left.usbid}} </br>
          <b>min focal</b> {{left.min}} </br>
          <b>max focal</b> {{left.max}} </br>
          <b>total storage</b> {{left.storage.total}} </br>
          <b>free storage</b> {{left.storage.free}} </br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input id="sliderLeft" type="text" class="span2" value="" data-slider-min="{{left.min}}" data-slider-max="{{left.max}}" data-slider-step="1" data-slider-value="{{left.focus}}" style="width: 100%"/>
        </div>
      </div>
    </div>
    <div id="rightTab" class="tab-pane">
      <div class="row">
        <div class="col-xs-6">
          &nbsp;<br/>
          <div class="imgcontainer" style="transform: rotate(90deg);">
          <img id="imageFocusRight" width="100%" height="66.6%" style="margin-top:16.6%;" src="images/gris.png">
          </div>
        </div>
        <div class="col-xs-6">
          <h1>Right Camera</h1>
           <b>model</b> {{right.model}}  </br>
          <b>usbid</b> {{right.usbid}} </br>
          <b>min focal</b> {{right.min}} </br>
          <b>max focal</b> {{right.max}} </br>
          <b>total storage</b> {{right.storage.total}} </br>
          <b>free storage</b> {{right.storage.free}} </br>      
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input id="sliderRight" type="text" class="span2" value="" data-slider-min="{{right.min}}" data-slider-max="{{right.max}}" data-slider-step="1" data-slider-value="{{right.focus}}" style="width: 100%"/>
        </div>
      </div>
    </div>
    <div id="downloadTab" class="tab-pane">
      <h1> Download Book </h1>

      <form id="csrf">
        <input type="hidden" name="_csrf" value="{{../token}}">
      </form>
      <button class="btn btn-block btn-primary btn-lg" id='buttonPrepare' role="button">Prepare</button>
      <br>
      <h2> Fetch Images </h2>
      <div class="progress">
        <div id='uploadbar' class="progress-bar" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="{{../pages}}" >
        </div>
      </div>
      <h2> Prepare Zip File </h2>
      <div class="progress">
        <div id='zipbar' class="progress-bar" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="{{../pages}}" >
        </div>
      </div>

      <a href="pages.zip"><button class="btn btn-block btn-primary btn-lg" id='buttonDownload' role="button">Download</button></a>
      <br>
      <h1> Maintenance </h1>
      <button class="btn btn-block btn-danger btn-lg" id='buttonClear' role="button">Reset All</button>
      <br>
      <button class="btn btn-block btn-danger btn-lg" id='buttonShutdown' role="button">Shutdown</button>
    
    </div>
  </div>
  <span id="message"></span>
</div>
{{/with}}
