@media all and (min-width: 1200px) {
	.imgcontainer {
		width: 570px;
		height: 570px;
	}
}

@media all and (min-width: 800px) and (max-width: 1200px) {
	.imgcontainer {
		width: 370px;
		height: 370px;
	}
}

@media all and (min-width: 400px) and (max-width: 800px) {
	.imgcontainer {
		width: 170px;
		height: 170px;
	}
}
